.product{
    border: 1px solid black;
    display: inline-block;
    width: 240px;
    height: 320px;
    margin: 5px 7px;
    border-radius: 4px;
    background-color: aliceblue;
    padding: 10px;
    box-shadow: 1px 1px 6px -2px rgb(129, 101, 90);
}

.product:hover{
    border-color: rgb(180, 60, 20);
    box-shadow: 1px 0 3px gray;
}
.product .prices{
    display: flex;
}
.product .prices label{
    flex: 1;
}
.product img{
    width: 200px;
    height: 180px;
}
.product h5{
    color:gray;
    font-weight: 600;
    font-size: 20px;
}


@media (max-width: 400px) {
    .product{
        width: 85%;
        margin-left: 2%;
        height: auto;
    }
}